@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cf img:nth-of-type(1) {
  animation-delay: 0;
}

#cf img:nth-of-type(2) {
  animation-delay: 1s;
}

#cf img:nth-of-type(3) {
  animation-delay: 1s;
}

#cf img:nth-of-type(4) {
  animation-delay: 1s;
}

#cf img {
  position: absolute;
  animation: cfFadeInOut 7s infinite;
  background-size: cover;
}
.picscontainer{

}
